.p_error {
    color: #ff2600; /* цвет текста */
    font-size: 14px; /* размер шрифта */
    font-weight: bold; /* жирный шрифт */
    margin-top: 5px; /* отступ сверху */
    margin-bottom: 5px; /* отступ снизу */
    padding: 5px; /* внутренние отступы */
    border-radius: 5px; /* скругление углов */
    background-color: #ffd9d6; /* цвет фона */
    border: 1px solid #ffffff; /* рамка */
}

.block-center {
    display: block;
    margin: 0 auto;
}